@font-face {
  font-family: RalewayBold;
  src: url(/pokedex/data/fonts/Raleway-Bold.ttf);
}

body {
  position: relative;
  margin: 0;
  font-family: RalewayBold;
}

.search-section {
  display: flex;
  justify-content: center;
  padding: 16px 8px 8px 8px;
}

#search {
  width: 300px;
  padding: 8px;
}

#poke-dexes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}

.pokeDex {
  position: relative;
  width: 280px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.411);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  cursor: pointer;
}

#pokeImg {
  width: 60%;
  aspect-ratio: 1/1;
  margin: 8px;
}

#pokeName {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#pokeId {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: italic;
}

.dex-types {
  color: rgb(255, 255, 255);
  padding: 2px 8px 2px 8px;
  margin: 4px 0px 4px 4px;
  text-align: center;
  background-color: #e8e8e881;
  border-radius: 10px;
}

.full-dex-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
}

#full-dex {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 700px;
  background-color: rgb(218, 218, 218);
  border-radius: 30px;
}

#full-dex-name {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 32px;
}

#full-dex-type {
  display: flex;
  justify-content: center;
}

.full-dex-types {
  color: rgb(255, 255, 255);
  margin-right: 12px;
  margin-left: 12px;
  padding: 8px 16px 8px 16px;
  background-color: #e8e8e881;
  border-radius: 20px;
}

.full-img-container {
  display: flex;
  justify-content: center;
}

#full-dex-img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
}

#full-dex-about {
  padding-left: 20px;
}

.abilities-container {
  display: flex;
}

.stats-container {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 60%;
  height: 200px;
}

.left-arrow-container {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  cursor: pointer;
}

.left-arrow-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.right-arrow-container {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  cursor: pointer;
}

.right-arrow-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.left-arrow-interface:hover .left-arrow {
  display: block;
}

.right-arrow-interface:hover .right-arrow {
  display: block;
}

.close-container {
  position: absolute;
  width: 15%;
  height: 20%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-container:hover .close-btn {
  display: block;
}

.close-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50%;
}

.d-none {
  display: none;
}

@media screen and (max-width: 767px) {
  #full-dex {
    max-width: 400px;
    height: 500px;
  }

  #full-dex-img {
    max-width: 150px;
  }

  .chart-container {
    width: 80%;
    height: 200px;
  }

  .right-arrow-container {
    width: 15%;
  }

  .left-arrow-container {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  #full-dex {
    max-width: 400px;
    height: 500px;
  }

  #full-dex-img {
    max-width: 150px;
  }

  .chart-container {
    width: 100%;
    max-width: 350px;
    height: 200px;
  }
}
